/* 初版源代码：用户:Salt_lovely/Vector.scss  */
/* 今版源代码：https://github.com/mcbbs-wiki/mcbbs-wiki-widget-repo  */
@import './mixin.scss';
$topbar-padding: 0.5rem; // 顶栏内边距
$top-height: 2.5rem; // 顶部高度
$top-gap: 0.5rem; // 主体与顶栏的间隙
$content-book-border: 46px; // 四周书页图片宽度
$content-top: calc(
  #{$content-book-border} + #{$top-height + $top-gap}
); // 主体部分高度（顶部+书页背景顶部边框）

$book-border-left-top: url(//mcbbs.wiki/salt/book/left-top.png);
$book-border-top: url(//mcbbs.wiki/salt/book/top.png);
$book-border-right-top: url(//mcbbs.wiki/salt/book/right-top.png);

$book-border-left: url(//mcbbs.wiki/salt/book/left.png); // 左侧图片
$book-border-right: url(//mcbbs.wiki/salt/book/right.png); // 右侧图片

$book-border-left-bottom: url(//mcbbs.wiki/salt/book/left-bottom.png);
$book-border-bottom: url(//mcbbs.wiki/salt/book/bottom.png);
$book-border-right-bottom: url(//mcbbs.wiki/salt/book/right-bottom.png);

:root {
  --theme-color: #a8cdff;
  --theme-bg-img: url(//mcbbs.wiki/salt/summer/body_bg.jpg);
  --theme-topbar-img: url(//mcbbs.wiki/salt/summer/top_bg.png);
  --bgtop: 46px;
  --bgleft: 20px;
  --lightcolor: #fdf6e6;
  --bgcolor: #fbf2dc;
  --bgcolor1: #e9d3ad;
  --bgcolor2: #e7d3b1;
  --bgcolor3: #e9cb97;
  --linecolor: #cfb78e;
  --fontfamily: sans-serif, 'Microsoft Yahei', apple color emoji, segoe ui emoji,
    segoe ui symbol;
  --fontfamily2: 'Linux Libertine', 'Georgia', 'Times', serif, sans-serif,
    Tahoma;
  --articlefont: Lora, 'Palatino Linotype', 'Book Antiqua', 'New York',
    'DejaVu serif', 'Source Han Serif', 'Source Han Serif SC';
  --delete-linecolor: #ffe49c;
  --add-linecolor: #a3d3ff;
  --selection-color: lightblue;
  --selection-font-color: #000;
}
/* 背景 */
body {
  background: var(--theme-bg-img) 0 0 no-repeat var(--theme-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-top: none;
  font-family: var(--fontfamily);
  * {
    border-color: var(--linecolor);
  }
}
/* 左侧栏 */
#mw-panel {
  position: fixed;
  width: 8rem;
  left: 0.5rem;
  top: 3rem;
  padding: 0 1rem 0.5rem 1rem;
  background-color: #fff9;
  border: 1px solid #ccc;
  border-radius: 4px;
  #p-logo {
    width: 10rem;
    height: 10rem;
    margin-top: -14px;
    margin-left: -1rem;
    a {
      background-size: contain;
    }
    + .portal {
      margin-top: 0;
      .vector-menu-content {
        margin-left: 0;
      }
    }
  }
  .portal {
    padding: 0.75rem 0 0 0;
    margin: 0;
    &:hover {
      background-color: transparent;
    }
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      margin: 0;
      padding: 0;
      position: relative;
      background-image: none;
      font-size: 1rem;
      line-height: 1.3rem;
      cursor: pointer;
      &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        font-size: 0.75rem;
        line-height: 1.3rem;
        transition: 0.3s ease;
      }
      &:hover::after {
        opacity: 0.9;
      }
    }
    .vector-menu-content {
      padding-top: 0;
      margin-left: 0;
      border-top: 2px solid var(--linecolor) !important;
      background-image: none;
      transition: max-height 0.3s ease;
      overflow: hidden;
      li {
        padding: 0;
        font-size: 0.9rem;
        line-height: 1.2rem;
        a {
          width: 100%;
          display: inline-block;
        }
      }
    }
    &.salt-close {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6 {
        &::after {
          content: '点击展开';
        }
      }
      .vector-menu-content {
        max-height: 0px;
      }
    }
    &.salt-open {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6 {
        &::after {
          content: '点击收起';
        }
      }
      .vector-menu-content {
        max-height: var(--salt-open-height, 100vh);
      }
    }
  }
}
/* 最顶部的信息栏 */
#p-personal {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: $top-height;
  padding: $topbar-padding $topbar-padding * 2;
  background-image: var(--theme-topbar-img);
  background-size: contain;
  box-sizing: border-box;
  opacity: 0.5;
  font-size: 1rem;
  transition: opacity 0.3s ease 0.5s;
  &:hover {
    opacity: 1;
    transition-delay: 0s;
  }
  ul {
    // right: 0;
    float: right;
    li {
      height: 1rem;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 0.9rem;
      line-height: 1rem;
    }
  }
  #pt-notifications-alert,
  #pt-notifications-notice {
    margin-right: 0;
  }
}

/* 顶部的信息栏遮挡可视化编辑器 */
.skin-vector .ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
  top: 2.5rem;
}
/* 顶部栏 */
$head-right-offset: 12px; // 右侧导航栏偏移量
#mw-head {
  top: $content-top;
  padding: 0 $content-book-border * 1.5 - $head-right-offset 0
    $content-book-border * 1.5;
  width: calc(100% - #{$content-book-border * 3 - $head-right-offset});
  #left-navigation,
  #right-navigation {
    margin-top: 0rem;
    nav,
    div,
    ul,
    span,
    a {
      background-image: none;
      background-color: transparent;
    }
    li {
      border-left: none;
      border-right: none;
      &:first-child {
        border-left: 1px solid var(--linecolor);
      }
      &:last-child {
        border-right: 1px solid var(--linecolor);
      }
    }
    ul {
      li {
        height: 2.7rem;
        background-image: linear-gradient(
          0deg,
          var(--linecolor) 0%,
          var(--bgcolor) 20%
        );
        &:hover {
          background-image: linear-gradient(
            0deg,
            var(--linecolor) 0%,
            var(--bgcolor) 12%
          );
        }
        a {
          font-size: 0.875rem;
          padding-top: 1rem;
          text-align: center;
        }
        &.icon a {
          padding-top: 2.5rem;
        }
      }
      &.menu li {
        background-image: linear-gradient(
          0deg,
          var(--linecolor) 0%,
          var(--bgcolor) 12%
        );
        &:hover {
          background-image: linear-gradient(
            0deg,
            var(--linecolor) 0%,
            var(--bgcolor) 6%
          );
        }
      }
    }
  }
  #p-cactions .menu li {
    border: 1px solid var(--linecolor);
    background-color: var(--lightcolor);
  }
}

/* 主体 */

#content {
  top: $content-top;
  min-height: 400px;
  padding: 1px $content-book-border * 1.5;
  margin-left: 11rem;
  margin-right: 0.5rem;
  margin-bottom: calc(#{$content-book-border * 2} + 5rem);
  overflow: visible;
  position: relative;
  background: $book-border-left left top repeat-y,
    $book-border-right right top repeat-y;
  background-color: var(--bgcolor);
  @include noBorder();
  &::after,
  &::before {
    content: '';
    left: 0;
    height: $content-book-border;
    width: calc(100% - #{$content-book-border * 2});
    padding: 0 $content-book-border;
    display: block;
    position: absolute;
  }
  &::before {
    // 上边
    top: -$content-book-border;
    background: $book-border-left-top left top no-repeat,
      $book-border-right-top right top no-repeat,
      $book-border-top top repeat-x content-box;
  }
  &::after {
    // 下边
    bottom: -$content-book-border;
    background: $book-border-left-bottom left bottom no-repeat,
      $book-border-right-bottom right bottom no-repeat,
      $book-border-bottom bottom repeat-x content-box;
  }
}
/* 页脚 */
#footer {
  padding-bottom: 0;
  margin-top: $content-book-border;
  clear: both;
  transition: all 0.3s;
  &:hover {
    /*鼠标滑过，背景变白*/
    background: rgba(255, 255, 255, 0.7);
  }
}
/* 滚动公告 */
.topsign {
  position: relative;
  width: 100%;
  height: 65px;
  overflow: hidden;
  > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
  }
}
/* 适配 */
@media screen and (max-width: 982px) {
  #mw-panel {
    left: 0;
  }
  #content {
    margin-left: 10rem;
    margin-right: 0;
  }
}
// 杂项
#mw-page-base,
#mw-head-base {
  background-color: transparent;
  opacity: 0;
  display: none;
  height: 0;
}
#catlinks, // 页面底部分类
pre,
table.wikitable,
li.gallerybox div.thumb,
.toc,
.mw-rcfilters-ui-changesListWrapperWidget .mw-changeslist-legend, // 最近更改列表说明
.mw-warning,
.toccolours,
table.navbox,
#simpleSearch {
  background-color: var(--lightcolor);
}
fieldset,
ul,
li,
a,
span,
em,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: var(--linecolor) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontfamily) !important;
}
#firstHeading {
  margin-top: var(--bgtop);
}
.diff-deletedline {
  border-color: var(--delete-linecolor) !important;
}
.diff-addedline {
  border-color: var(--add-linecolor) !important;
}
#catlinks {
  margin-bottom: 2px;
}
::selection {
  background: var(--selection-color);
  color: var(--selection-font-color);
}
::-moz-selection {
  background: var(--selection-color);
  color: var(--selection-font-color);
}
input,
select {
  background-color: var(--lightcolor);
  border: 1px solid var(--linecolor);
}

body.mw-special-Preferences #siteNotice {
  display: none;
}
.ve-active #bodyContent {
  background-color: #ffffff;
}
