/* 初版源代码：用户:Salt_lovely/Vector.scss  */
/* 今版源代码：https://github.com/mcbbs-wiki/mcbbs-wiki-widget-repo  */
@import './mixin.scss';
:root {
  --theme-color: #a8cdff;
  --theme-bg-img: url(//mcbbs.wiki/salt/summer/body_bg.jpg);
  --theme-topbar-img: url(//mcbbs.wiki/salt/summer/top_bg.png);
  /*左上图片*/
  --book-border-left-top: url(//mcbbs.wiki/salt/book/left-top.png);
  /*上方图片*/
  --book-border-top: url(//mcbbs.wiki/salt/book/top.png);
  /*右上图片*/
  --book-border-right-top: url(//mcbbs.wiki/salt/book/right-top.png);
  /*左侧图片*/
  --book-border-left: url(//mcbbs.wiki/salt/book/left.png);
  /*右侧图片*/
  --book-border-right: url(//mcbbs.wiki/salt/book/right.png);
  /*左下图片*/
  --book-border-left-bottom: url(//mcbbs.wiki/salt/book/left-bottom.png);
  /*下方图片*/
  --book-border-bottom: url(//mcbbs.wiki/salt/book/bottom.png);
  /*右下图片*/
  --book-border-right-bottom: url(//mcbbs.wiki/salt/book/right-bottom.png);
  --bgtop: 46px;
  --bgleft: 20px;
  --lightcolor: #fdf6e6;
  --bgcolor: #fbf2dc;
  --bgcolor1: #e9d3ad;
  --bgcolor2: #e7d3b1;
  --bgcolor3: #e9cb97;
  --linecolor: #cfb78e;
  --fontfamily: sans-serif, 'Microsoft Yahei', apple color emoji, segoe ui emoji,
    segoe ui symbol;
  --fontfamily2: 'Linux Libertine', 'Georgia', 'Times', serif, sans-serif,
    Tahoma;
  --articlefont: Lora, 'Palatino Linotype', 'Book Antiqua', 'New York',
    'DejaVu serif', 'Source Han Serif', 'Source Han Serif SC';
  --delete-linecolor: #ffe49c;
  --add-linecolor: #a3d3ff;
  --selection-color: lightblue;
  --selection-font-color: #000;
}
@import './common/background.scss';
@import './common/panel.scss';
@import './common/utils.scss'
