/* 初版源代码：用户:Salt_lovely/Vector.scss  */
/* 今版源代码：https://github.com/mcbbs-wiki/mcbbs-wiki-widget-repo  */
@import './mixin.scss';

:root {
  --theme-color: #a8cdff;
  --theme-bg-img: url(//mcbbs.wiki/salt/summer/body_bg.jpg);
  --theme-topbar-img: url(//mcbbs.wiki/salt/summer/top_bg.png);
  /*左上图片*/
  --book-border-left-top: url(//mcbbs.wiki/salt/book/left-top.png);
  /*上方图片*/
  --book-border-top: url(//mcbbs.wiki/salt/book/top.png);
  /*右上图片*/
  --book-border-right-top: url(//mcbbs.wiki/salt/book/right-top.png);
  /*左侧图片*/
  --book-border-left: url(//mcbbs.wiki/salt/book/left.png);
  /*右侧图片*/
  --book-border-right: url(//mcbbs.wiki/salt/book/right.png);
  /*左下图片*/
  --book-border-left-bottom: url(//mcbbs.wiki/salt/book/left-bottom.png);
  /*下方图片*/
  --book-border-bottom: url(//mcbbs.wiki/salt/book/bottom.png);
  /*右下图片*/
  --book-border-right-bottom: url(//mcbbs.wiki/salt/book/right-bottom.png);
  --bgtop: 46px;
  --bgleft: 20px;
  --lightcolor: #fdf6e6;
  --bgcolor: #fbf2dc;
  --bgcolor1: #e9d3ad;
  --bgcolor2: #e7d3b1;
  --bgcolor3: #e9cb97;
  --linecolor: #cfb78e;
  --fontfamily: sans-serif, 'Microsoft Yahei', apple color emoji, segoe ui emoji,
    segoe ui symbol;
  --fontfamily2: 'Linux Libertine', 'Georgia', 'Times', serif, sans-serif,
    Tahoma;
  --articlefont: Lora, 'Palatino Linotype', 'Book Antiqua', 'New York',
    'DejaVu serif', 'Source Han Serif', 'Source Han Serif SC';
  --delete-linecolor: #ffe49c;
  --add-linecolor: #a3d3ff;
  --selection-color: lightblue;
  --selection-font-color: #000;
}
/* 背景 */
body {
  background: var(--theme-bg-img) 0 0 no-repeat var(--theme-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-top: none;
  font-family: var(--fontfamily);
  * {
    border-color: var(--linecolor);
  }
}
/* 其他适配 */
#catlinks, // 页面底部分类
pre,
table.wikitable,
li.gallerybox div.thumb,
.toc,
.mw-rcfilters-ui-changesListWrapperWidget .mw-changeslist-legend, // 最近更改列表说明
.mw-warning,
.toccolours,
table.navbox,
#simpleSearch {
  background-color: var(--lightcolor);
}
fieldset,
ul,
li,
a,
span,
em,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: var(--linecolor) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontfamily) !important;
}
#firstHeading {
  margin-top: var(--bgtop);
}
.diff-deletedline {
  border-color: var(--delete-linecolor) !important;
}
.diff-addedline {
  border-color: var(--add-linecolor) !important;
}
#catlinks {
  margin-bottom: 2px;
}
::selection {
  background: var(--selection-color);
  color: var(--selection-font-color);
}
::-moz-selection {
  background: var(--selection-color);
  color: var(--selection-font-color);
}
input,
select {
  background-color: var(--lightcolor);
  border: 1px solid var(--linecolor);
}

body.mw-special-Preferences #siteNotice {
  display: none;
}
.ve-active #bodyContent {
  background-color: #ffffff;
}
