@import './mixin.scss';
$topbar-padding: 0.5rem; // 顶栏内边距
$top-height: 2.5rem; // 顶部高度
$top-gap: 0.5rem; // 主体与顶栏的间隙
$content-book-border: 46px; // 四周书页图片宽度
$content-top: calc(
  #{$content-book-border} + #{$top-height + $top-gap}
); // 主体部分高度（顶部+书页背景顶部边框）
/* 旧版书页样式 */
body.skin-vector.skin-vector-legacy {
  // 左侧栏
  #mw-panel {
    /* 左侧栏 */
    position: fixed;
    width: 8rem;
    left: 0.5rem;
    top: 3rem;
    padding: 0 1rem 0.5rem 1rem;
    background-color: #fff9;
    border: 1px solid #ccc;
    border-radius: 4px;
    #p-logo {
      width: 10rem;
      height: 10rem;
      margin-top: -14px;
      margin-left: -1rem;
      a {
        background-size: contain;
      }
      + .portal {
        margin-top: 0;
        .vector-menu-content {
          margin-left: 0;
        }
      }
    }
  }
  // 最顶部的信息栏
  #p-personal {
    /* 最顶部的信息栏 */
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: $top-height;
    padding: $topbar-padding $topbar-padding * 2;
    background-image: var(--theme-topbar-img);
    background-size: contain;
    box-sizing: border-box;
    opacity: 0.5;
    font-size: 1rem;
    transition: opacity 0.3s ease 0.5s;
    &:hover {
      opacity: 1;
      transition-delay: 0s;
    }
    ul {
      // right: 0;
      float: right;
      li {
        height: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 0.9rem;
        line-height: 1rem;
      }
    }
    #pt-notifications-alert,
    #pt-notifications-notice {
      margin-right: 0;
    }
  }
  // 顶部的信息栏遮挡可视化编辑器
  .skin-vector .ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
    /* 顶部的信息栏遮挡可视化编辑器 */
    top: 2.5rem;
  }
  $head-right-offset: 12px; // 右侧导航栏偏移量
  // 顶部栏
  #mw-head {
    /* 顶部栏 */
    top: $content-top;
    padding: 0 $content-book-border * 1.5 - $head-right-offset 0
      $content-book-border * 1.5;
    width: calc(100% - #{$content-book-border * 3 - $head-right-offset});
    #left-navigation,
    #right-navigation {
      margin-top: 0rem;
      nav,
      div,
      ul,
      span,
      a {
        background-image: none;
        background-color: transparent;
      }
      li {
        border-left: none;
        border-right: none;
        &:first-child {
          border-left: 1px solid var(--linecolor);
        }
        &:last-child {
          border-right: 1px solid var(--linecolor);
        }
      }
      ul {
        li {
          height: 2.7rem;
          background-image: linear-gradient(
            0deg,
            var(--linecolor) 0%,
            var(--bgcolor) 20%
          );
          &:hover {
            background-image: linear-gradient(
              0deg,
              var(--linecolor) 0%,
              var(--bgcolor) 12%
            );
          }
          a {
            font-size: 0.875rem;
            padding-top: 1rem;
            text-align: center;
          }
          &.icon a {
            padding-top: 2.5rem;
          }
        }
        &.menu li {
          background-image: linear-gradient(
            0deg,
            var(--linecolor) 0%,
            var(--bgcolor) 12%
          );
          &:hover {
            background-image: linear-gradient(
              0deg,
              var(--linecolor) 0%,
              var(--bgcolor) 6%
            );
          }
        }
      }
    }
    #p-cactions .menu li {
      border: 1px solid var(--linecolor);
      background-color: var(--lightcolor);
    }
  }

  // 主体
  #content {
    /* 主体 */
    top: $content-top;
    min-height: 400px;
    padding: 1px $content-book-border * 1.5;
    margin-left: 11rem;
    margin-right: 0.5rem;
    margin-bottom: calc(#{$content-book-border * 2} + 5rem);
    overflow: visible;
    position: relative;
    background: var(--book-border-left) left top repeat-y,
      var(--book-border-right) right top repeat-y;
    background-color: var(--bgcolor);
    @include noBorder();
    &::after,
    &::before {
      content: '';
      left: 0;
      height: $content-book-border;
      width: calc(100% - #{$content-book-border * 2});
      padding: 0 $content-book-border;
      display: block;
      position: absolute;
    }
    &::before {
      // 上边
      top: -$content-book-border;
      background: var(--book-border-left-top) left top no-repeat,
        var(--book-border-right-top) right top no-repeat,
        var(--book-border-top) top repeat-x content-box;
    }
    &::after {
      // 下边
      bottom: -$content-book-border;
      background: var(--book-border-left-bottom) left bottom no-repeat,
        var(--book-border-right-bottom) right bottom no-repeat,
        var(--book-border-bottom) bottom repeat-x content-box;
    }
  }
  // 页脚
  #footer {
    /* 页脚 */
    padding-bottom: 0;
    margin-top: $content-book-border;
    clear: both;
    transition: all 0.3s;
    &:hover {
      /*鼠标滑过，背景变白*/
      background: rgba(255, 255, 255, 0.7);
    }
  }
  // 适配
  @media screen and (max-width: 982px) {
    /* 适配 */
    #mw-panel {
      left: 0;
    }
    #content {
      margin-left: 10rem;
      margin-right: 0;
    }
  }
  // 杂项
  #mw-page-base,
  #mw-head-base {
    background-color: transparent;
    opacity: 0;
    display: none;
    height: 0;
  }
}
