@import './mixin.scss';
$topbar-padding: 0.5rem; // 顶栏内边距
$top-height: 2.5rem; // 顶部高度
$top-gap: 0.5rem; // 主体与顶栏的间隙
$content-book-border: 46px; // 四周书页图片宽度
$content-top: calc(
  #{$content-book-border} + #{$top-height + $top-gap}
); // 主体部分高度（顶部+书页背景顶部边框）
/* 旧版书页样式 */
body.skin-vector.skin-vector-legacy {
  @import './old/panel.scss';
  @import './old/personal.scss';
  @import './old/head.scss';
  @import './old/content.scss';
  @import './old/footer.scss';
  @import './old/utils.scss';
}
