// 左侧栏
#mw-panel {
  /* 左侧栏 */
  position: fixed;
  width: 8rem;
  left: 0.5rem;
  top: 3rem;
  padding: 0 1rem 0.5rem 1rem;
  background-color: #fff9;
  border: 1px solid #ccc;
  border-radius: 4px;
  #p-logo {
    width: 10rem;
    height: 10rem;
    margin-top: -14px;
    margin-left: -1rem;
    a {
      background-size: contain;
    }
    + .portal {
      margin-top: 0;
      .vector-menu-content {
        margin-left: 0;
      }
    }
  }
}
.mw-prefs-buttons {
  background-color: #fbf2db;
}
.oo-ui-tabSelectWidget-framed {
  background-color: #e3c99e;
}
