// 适配
@media screen and (max-width: 982px) {
  /* 适配 */
  #mw-panel {
    left: 0;
  }
  #content {
    margin-left: 10rem;
    margin-right: 0;
  }
}
// 杂项
#mw-page-base,
#mw-head-base {
  background-color: transparent;
  opacity: 0;
  display: none;
  height: 0;
}
fieldset,
ul,
li,
a,
span,
em,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: var(--linecolor) !important;
}
