/* 左侧栏 */
#mw-panel {
  .portal {
    /*面板折叠相关样式功能*/
    padding: 0.75rem 0 0 0;
    margin: 0;
    &:hover {
      background-color: transparent;
    }
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      margin: 0;
      padding: 0;
      position: relative;
      background-image: none;
      font-size: 1rem;
      line-height: 1.3rem;
      cursor: pointer;
      &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        font-size: 0.75rem;
        line-height: 1.3rem;
        transition: 0.3s ease;
      }
      &:hover::after {
        opacity: 0.9;
      }
    }
    .vector-menu-content {
      padding-top: 0;
      margin-left: 0;
      border-top: 2px solid var(--linecolor) !important;
      background-image: none;
      transition: max-height 0.3s ease;
      overflow: hidden;
      li {
        padding: 0;
        font-size: 0.9rem;
        line-height: 1.2rem;
        a {
          width: 100%;
          display: inline-block;
        }
      }
    }
    &.salt-close {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6 {
        &::after {
          content: '点击展开';
        }
      }
      .vector-menu-content {
        max-height: 0px;
      }
    }
    &.salt-open {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6 {
        &::after {
          content: '点击收起';
        }
      }
      .vector-menu-content {
        max-height: var(--salt-open-height, 100vh);
      }
    }
  }
}
